* {
    font-family: sans-serif;
    background-color: #F3F3F3;
}

h1 {
    font-size: 4em;
    font-weight:bold;
    text-align: center;
    color: #283747;
}

.description {
    float: right;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 110px;
    height: 64px;
    padding: 2px;
    font: 12px sans-serif;
    font-weight: bold;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}


.btns {
    padding-left: 60px;
    padding-bottom: 20px;
}


.button {
    border: none;
    white-space: nowrap;
    color: white;
    margin-left: 150px;
    width: 140px;
    height: 40px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    text-shadow: 1px 1px black;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  
.btnParks {
    background-color:#FF4136;
}

.btnParks:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnRoad {
    background-color: #3D9970;
}

.btnRoad:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnWater {
    background-color: #0074D9;
}

.btnWater:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnBeach {
    background-color: #FF851B;
}

.btnBeach:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnBush {
    background-color: #FEB236;
}

.btnBush:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnSchool {
    background-color: #6b5b95;
}

.btnSchool:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnShops {
    background-color: #001f3f;
}

.btnShops:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnDive {
    background-color: #d64161;
}

.btnDive:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnOutdoor {
    background-color: #3e4444;
}

.btnOutdoor:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnOther {
    background-color: #405d27;
}

.btnOther:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnClear {
    background-color: #618685;
}

.btnClear:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnshAll {
    background-color: #618685;
}

.btnshAll:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.bar:hover {
    stroke: black;
}

